:root {
  font-family: system-ui, -apple-system, Ubuntu, sans-serif;
  user-select: none;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

.modal {
  border: none;
}